*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title{
  text-align: center;
  color: gray;
}
#description{
    text-align: center;
    color: gray;    
}
#container{
    
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px #888888;
}
.label-container__name{
    color: gray;
    font-size: 1.0rem;
}
.form-container span{
    display: flex;
}
.input-text{
    display: flex;
    min-width: 500px;
    height: 35px;
    color: gray;
    border-radius: 14px;
}

